<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Admins List</title>
</head>
<body>
<div layout:fragment="main-content">
    <h1>Admins List</h1>
    <div th:if="${#lists.isEmpty(admins)}">
        <p>No admins found.</p>
    </div>
    <div th:if="${!#lists.isEmpty(admins)}">
        <table class="table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="admin : ${admins}">
                <td th:text="${admin.username}">Username</td>
                <td th:text="${admin.email}">Email</td>
                <td>
                    <a class="btn btn-info btn-sm" th:href="@{'/user/' + ${admin.username}}">View Profile</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>